<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a href="http://github.com/{{ site.github_user }}">Github</a></li>
  <li><a href="http://plus.google.com/{{ site.googleplus_user }}">Google+</a></li>
  <li><a href="http://www.linkedin.com/pub/{{ site.linkedin_user }}">LinkedIn</a></li>
  <li><a href="{{ site.public_resume }}">Resume</a></li>
  <li><a href="{{ site.vizualize_me }}">Vizualize.me Resume</a></li>
</ul>
